{% extends "base.html" %}

{% block content %}
{% load plotly_dash %}
    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-12">
                <div class="au-card recent-report">
                    <div class="au-card-inner">
                        <h3 class="title-2">Analysis</h3>
                        <p>This tab is aimed at the Data Scientist/Analyst, but feel free to take advantage of the insightful metrics here. If you would like to contribute, all of the visuals are built in <a href="https://plot.ly/python/">Plotly</a>. All you need to do is follow the templated functions available in the <a href="https://github.com/zbloss/whitebox/blob/master/app/home/visuals/custom_viz.py">custom_viz.py</a> and <a href="https://github.com/zbloss/whitebox/blob/master/app/home/dash_apps.py">dash_apps.py</a> scripts to add your visuals!</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="au-card recent-report">
                    <div class="au-card-inner">
                        <h3 class="title-2">Classification Report</h3>
                        {% plotly_app name="classification_report" ratio=1 %}
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6">
                <div class="au-card recent-report">
                    <div class="au-card-inner">
                        <h3 class="title-2">Confusion Matrix</h3>
                        {% plotly_app name="confusion_matrix" ratio=1 %}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="au-card recent-report">
                    <div class="au-card-inner">
                        <h3 class="title-2">3D-Principal Component Analysis</h3>
                        {% plotly_app name="pca3d" ratio=1 %}
                    </div>
                </div>
            </div>
    
            
            <div class="col-sm-12 col-md-6">
                <div class="au-card recent-report">
                    <div class="au-card-inner">
                        <h3 class="title-2">2D-Principal Component Analysis</h3>
                        {% plotly_app name="pca2d" ratio=1 %}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="au-card recent-report">
                    <div class="au-card-inner">
                        <h3 class="title-2">Feature Rank-2D</h3>
                        {% plotly_app name="rank2d" ratio=1 %}
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6">
                <div class="au-card recent-report">
                    <div class="au-card-inner">
                        <h3 class="title-2">Feature Rank-1D</h3>
                        {% plotly_app name="rank1d" ratio=1 %}
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-sm-12 col-md-6">
                <div class="au-card recent-report">
                    <div class="au-card-inner">
                        <h3 class="title-2">Radial Feature Visualizer</h3>
                        {% plotly_app name="radviz" ratio=1 %}
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6">
                <div class="au-card recent-report">
                    <div class="au-card-inner">
                        <h3 class="title-2">ROC-AUC</h3>
                        {% plotly_app name="rocauc" ratio=1 %}
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}