{% extends "base.html" %}

{% block content %}
{% load plotly_dash %}

<div class="container-fluid">

    <div class="row">
        <div class="col-sm-12">
            <div class="au-card recent-report">
                <div class="au-card-inner">
                    <h3 class="title-2">Model Explanations</h3>
                    <p>Click on a row in the table below and then scroll down for the explanations of why the model predicted what it did. The first visual shows you the model's confidence in it's decision. The Second visual shows you which variables contributed the most to that decision, as well as whether that feature pulled the prediction value up or down.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
    
        <div class="col-sm-12">
            <div class="au-card recent-report">
                <div class="au-card-inner">
                    <h3 class="title-2">Table</h3>
                    {% plotly_app name="data_table" ratio=1 %}
                </div>
            </div>
        </div>
    </div>

</div>


{% endblock content %}