{% extends "base.html" %}

{% block content %}

    <div class='container-fluid'>
        <div class="row">
            
            <div class="col-sm-12">
                <div class="au-card recent-report">
                    <div class="au-card-inner">
                        <h3 class="title-2">Welcome to Project Whitebox</h3>
                        <hr>
                        <br>
                        <p>
                            This is a project that aims to demystify the "black-box" stigma that modern Data Science models
                            get. It is model agnostic, providing the same visuals and explainability tools for each problem
                            no matter the Data Science solution that you choose to solve it with.
                        </p>
                        <br>
                        <p>
                            If you find this Project helpful, make sure to pass the knowledge along. My goal in making this
                            is to make Data Science models more widely explainable and useable. If you have an idea for how
                            to make this more successful, whether it be an engineering optimization or visual suggestion,
                            feel free to open an issue on Github and/or shoot me an email <a href="mailto:zacharybloss@gmail.com">
                            zacharybloss@gmail.com</a>
                        </p>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-12">
                <div class="au-card recent-report">
                    <div class="au-card-inner">
                        <p>lorem ipsum</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock content %}